{% extends 'base.html' %}

{% block title %}Destination{% endblock title %}
{% block destinationactive %} active {% endblock destinationactive %}

{% block body %}


<!--<!DOCTYPE html>-->
<html lang="en">
<!-- Wrapper for slides -->
<div class="owlticker owl-carousel owl-theme">

    <!-- Carousel images -->
        <div class="item">
        <a class="tc_banner_alldesk" href="/booking" target="_blank">
            <picture>
                <source class="d-block w-100"
                        data-srcset="https://www.thomascook.in/images/home-page-banners/2022/oct/TC-europe-1920x545.jpg"
                        media="(min-width:768px)"
                        type="image/jpeg">
                <img alt=""
                     class="d-block w-100"
                     data-src="https://www.thomascook.in/images/home-page-banners/2022/oct/TC-europe-1920x545.jpg">
                <source class="d-block w-100"
                        data-srcset="https://www.thomascook.in/images/home-page-banners/2022/oct/TC-europe-1920x545.webp"
                        media="(min-width:768px)"
                        type="image/webp">
            </picture>
        </a>
    </div>
    <div class="active item">
        <a class="tc_banner_alldesk" href="/booking" target="_blank">
            <picture>
                <source class="d-block w-100"
                        data-srcset="https://www.thomascook.in/images/home-page-banners/2023/jan/BG-1920x545-home1.jpg"
                        media="(min-width:768px)"
                        type="image/jpeg">
                <img alt="" class="d-block w-100"
                     data-src="https://www.thomascook.in/images/home-page-banners/2023/jan/BG-1920x545-home1.jpg">
                <source class="d-block w-100"
                        data-srcset="https://www.thomascook.in/images/home-page-banners/2023/jan/BG-1920x545-home1.webp"
                        media="(min-width:768px)"
                        type="image/webp">
                <source class="d-block w-100" media="(max-width:767px)"
                        srcset="https://www.thomascook.in/images/home-page-banners/2023/jan/BG-580x440-home1.webp"
                        type="image/webp">
            </picture>
        </a>
    </div>
    <div class="item">
        <a class="tc_banner_alldesk" href="/booking" target="_blank">
            <picture>
                <source class="d-block w-100"
                        data-srcset="https://www.thomascook.in/images/home-page-banners/2022/dec/America-Canada-Holidays-Banner-TC-1920x545.jpg"
                        media="(min-width:768px)"
                        type="image/jpeg">

                <img alt=""
                     class="d-block w-100"
                     data-src="https://www.thomascook.in/images/home-page-banners/2022/dec/America-Canada-Holidays-Banner-TC-1920x545.jpg">

                <source class="d-block w-100"
                        data-srcset="https://www.thomascook.in/images/home-page-banners/2022/dec/America-Canada-Holidays-Banner-TC-1920x545.webp"
                        media="(min-width:768px)"
                        type="image/webp">
            </picture>
        </a>
    </div>

    <div class="item">
        <a class="tc_banner_alldesk" href="/booking" target="_blank">
            <picture>
                <source class="d-block w-100"
                        data-srcset="https://www.thomascook.in/images/home-page-banners/2022/dec/North-East-Banner-1920x545.jpg"
                        media="(min-width:768px)"
                        type="image/jpeg">

                <img alt=""
                     class="d-block w-100"
                     data-src="https://www.thomascook.in/images/home-page-banners/2022/dec/North-East-Banner-1920x545.jpg">

                <source class="d-block w-100"
                        data-srcset="https://www.thomascook.in/images/home-page-banners/2022/dec/North-East-Banner-1920x545.webp"
                        media="(min-width:768px)"
                        type="image/webp">
            </picture>
        </a>
    </div>


    <div class="item">
        <a class="tc_banner_alldesk" href="/booking" target="_blank">
            <picture>
                <source class="d-block w-100"
                        data-srcset="https://www.thomascook.in/images/home-page-banners/2023/jan/korea-1920x545-homepage.jpg"
                        media="(min-width:768px)"
                        type="image/jpeg">

                <img alt=""
                     class="d-block w-100"
                     data-src="https://www.thomascook.in/images/home-page-banners/2023/jan/korea-1920x545-homepage.jpg">

                <source class="d-block w-100"
                        data-srcset="https://www.thomascook.in/images/home-page-banners/2023/jan/korea-1920x545-homepage.webp"
                        media="(min-width:768px)"
                        type="image/webp">
            </picture>
        </a>
    </div>


</div>

<div class="titles_header_landiang_page">
    <h3 class="text-center holiday-special-offer-p"> Best offers exclusively for you! </h3>
</div>
<div class="clearfix"></div>
<div id="homePageGallery1">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="row">

                    <div class="col-xs-12 col-sm-6">
                        <div>

                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div>
                                <div class="headline"><h3></h3></div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="row">
                        <div class="item">
                            <a class="tc_banner_alldesk" href="#" target="_blank">
                                <picture>
                                    <source srcset="https://www.thomascook.in/images/home-page-banners/2021/november/Paris-honeymoon1.jpg"
                                            type="image/jpeg">
                                    <img alt="International Travel guidelines"
                                         class="lazyImg"
                                         src="/images/home-page-banners/2021/november/Paris-honeymoon1.jpg">
                                    <source srcset="https://www.thomascook.in/images/home-page-banners/2021/november/Paris-honeymoon1.webp"
                                            type="image/webp">
                                </picture>
                            </a>
                        </div>
                        <div class="item active">
                            <a class="tc_banner_alldesk" href="#" target="_blank">
                                <picture>
                                    <source srcset="https://www.thomascook.in/images/home-page-banners/2022/dec/bali-excl1.jpg"
                                            type="image/jpeg">
                                    <img alt="" class="lazyImg" src="/images/home-page-banners/2022/dec/bali-excl1.jpg">
                                    <source srcset="https://www.thomascook.in/images/home-page-banners/2022/dec/bali-excl1.webp"
                                            type="image/webp">
                                </picture>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="clear clearfix"></div>
        </div>

        <div class="item active ">
            <a class="tc_banner_alldesk" href="#" target="_blank">
                <picture>

                    <source srcset="https://www.thomascook.in/images/site-banners/2022/rajasthan.jpg" type="image/jpeg">

                    <img alt="" class="lazyImg" src="/images/home-page-banners/2022/oct/Rajasthan.jpg">
                    <source srcset="https://www.thomascook.in/images/home-page-banners/2022/oct/Rajasthan.webp"
                            type="image/webp">
                </picture>
            </a>
        </div>


        <div class="item  ">
            <a class="tc_banner_alldesk" href="#" target="_blank">
                <picture>
                    <source srcset="https://www.thomascook.in/images/home-page-banners/2021/november/Sri-lanka-bn.jpg"
                            type="image/jpeg">
                    <img alt="Goa Holidays" class="lazyImg"
                         src="/images/home-page-banners/2021/november/Sri-lanka-bn.jpg">
                    <source srcset="https://www.thomascook.in/images/home-page-banners/2021/november/Sri-lanka-bn.webp"
                            type="image/webp">

                </picture>
            </a>
        </div>


        <div class="item">
            <a class="tc_banner_alldesk" href="#" target="_blank">
                <picture>
                    <source srcset="https://www.thomascook.in/images/home-page-banners/2022/dec/Andaman2.jpg"
                            type="image/jpeg">
                    <img alt="Andaman Holidays" class="lazyImg" src="/images/home-page-banners/2022/dec/Andaman2.jpg">
                    <source srcset="https://www.thomascook.in/images/home-page-banners/2022/dec/Andaman2.webp"
                            type="image/webp">

                </picture>
            </a>
        </div>

    </div>
</div>
<div class="col-xs-12 col-sm-4">
</div>
<div class="clearfix"></div>
<div id="homePageText"></div>
<div class="clearfix"></div>

<div id="homePageInternationalPackages">
    <div>
        <div class="row">

            <div class="col-xs-12">
                <div>
                    <section class="slider_area honeymoon_international_packages">
                        <div class="PhotoGallery">
                            <div class="container">
                                <div class="gallery_blog">
                                    <h2 class="text-center">International Holiday Packages</h2>
                                </div>
                                <div class="col-sm-12 col-xs-12 int_holi more_landipage bottom_static_pages">
                                    Whether it’s your first international trip or you have travelled abroad multiple
                                    times, planning a holiday to a distant land is always a special feeling. Our
                                    international holiday packages are well-made and hold a high reputation among
                                    customers who have been travelling with us. Here, take a look at our top
                                    <a href="/booking">international holiday packages</a>.
                                </div>
                                <div class="">
                                    <div>
                                        <ul class="looppkg owl-carousel owl-theme">
                                            <li class="item">
                                                <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12">
                                                    <div class="border_gray landing_page_honymoon_slider">
                                                        <a class="jcarousel_all_data_thomas" href="#">
                                                        </a>
                                                        <div class="col-lg-12 no-padding"><a
                                                                href="/booking"><img alt=""
                                                                                                          data-src="https://vibrantwomentravel.com/wp-content/uploads/2022/02/14861780673-d6834949f5-h_w836_h420_c1.jpg"
                                                                                                          height="400"
                                                                                                          width="800"></a>
                                                        </div>
                                                        <h3 class="carausal_name_left">
                                                            <div class="col-lg-6 col-xs-6 padd10 no-padding">
                                                                <div class="carausal_header_country">Thailand</div>
                                                                <small class="sm-text small">Packages</small>
                                                            </div>
                                                        </h3>
                                                        <div class="col-lg-6 col-xs-6 padd10 margin10 pull-right">
                                                            <div class="no-padding text-left text_skyblue font22"
                                                                 style="display:block;"><span>₹</span>23 700<font
                                                                    size="2">.00</font>
                                                                <span class="price">Starting Price</span>
                                                            </div>
                                                        </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="item">
                                                <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12">
                                                    <div class="border_gray landing_page_honymoon_slider">
                                                        <a class="jcarousel_all_data_thomas" href="#">
                                                        </a>
                                                        <div class="col-lg-12 no-padding"><a
                                                                href="/booking"><img alt=""
                                                                                                          data-src="https://static.holidayrider.com/wp-content/uploads/2018/07/optimized-i6u0.jpg"
                                                                                                          height="400"
                                                                                                          width="800"></a>
                                                        </div>
                                                        <h3 class="carausal_name_left">
                                                            <div class="col-lg-6 col-xs-6 padd10 no-padding">
                                                                <div class="carausal_header_country">Singapore</div>
                                                                <small class="sm-text small">Packages</small>
                                                            </div>
                                                        </h3>
                                                        <div class="col-lg-6 col-xs-6 padd10 margin10 pull-right">
                                                            <div class="no-padding text-left text_skyblue font22"
                                                                 style="display:block;"><span>₹</span>34 500<font
                                                                    size="2">.00</font>
                                                                <span class="price">Starting Price</span>
                                                            </div>
                                                        </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="item">
                                                <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12">
                                                    <div class="border_gray landing_page_honymoon_slider">
                                                        <a class="jcarousel_all_data_thomas" href="#">
                                                        </a>
                                                        <div class="col-lg-12 no-padding"><a
                                                                href="/booking"><img alt=""
                                                                                                          data-src="https://static.businessworld.in/article/article_extra_large_image/1659955607_ZYozx2_Da_Nang.jpg"
                                                                                                          height="400"
                                                                                                          width="800"></a>
                                                        </div>
                                                        <h3 class="carausal_name_left">
                                                            <div class="col-lg-6 col-xs-6 padd10 no-padding">
                                                                <div class="carausal_header_country">Vietnam</div>
                                                                <small class="sm-text small">Packages</small>
                                                            </div>
                                                        </h3>
                                                        <div class="col-lg-6 col-xs-6 padd10 margin10 pull-right">
                                                            <div class="no-padding text-left text_skyblue font22"
                                                                 style="display:block;"><span>₹</span>19 699<font
                                                                    size="2">.00</font>
                                                                <span class="price">Starting Price</span>
                                                            </div>
                                                        </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="item">
                                                <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12">
                                                    <div class="border_gray landing_page_honymoon_slider">
                                                        <a class="jcarousel_all_data_thomas" href="#">
                                                        </a>
                                                        <div class="col-lg-12 no-padding"><a
                                                                href="/booking"><img alt=""
                                                                                                          data-src="https://bjtonline.com/sites/default/files/styles/bjt30_article_medium/public/fotolia_195590036_xxl.jpg?itok=l8gk-4Tg&timestamp=1549904579"
                                                                                                          height="400"
                                                                                                          width="800"></a>
                                                        </div>
                                                        <h3 class="carausal_name_left">
                                                            <div class="col-lg-6 col-xs-6 padd10 no-padding">
                                                                <div class="carausal_header_country">Mauritius</div>
                                                                <small class="sm-text small"> Packages</small>
                                                            </div>
                                                        </h3>
                                                        <div class="col-lg-6 col-xs-6 padd10 margin10 pull-right">
                                                            <div class="no-padding text-left text_skyblue font22"
                                                                 style="display:block;"><span>₹</span>30 500<font
                                                                    size="2">.00</font>
                                                                <span class="price">Starting Price</span>
                                                            </div>
                                                        </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="item">
                                                <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12">
                                                    <div class="border_gray landing_page_honymoon_slider">
                                                        <a class="jcarousel_all_data_thomas" href="#">
                                                        </a>
                                                        <div class="col-lg-12 no-padding"><a
                                                                href="/booking"><img alt=""
                                                                                                          data-src="https://www.innovationnewsnetwork.com/wp-content/uploads/2022/06/community-based-management-and-conservation-696x392.jpg"
                                                                                                          height="400"
                                                                                                          width="800"></a>
                                                        </div>
                                                        <h3 class="carausal_name_left">
                                                            <div class="col-lg-6 col-xs-6 padd10 no-padding">
                                                                <div class="carausal_header_country">Japan</div>
                                                                <small class="sm-text small">Packages</small>
                                                            </div>
                                                        </h3>

                                                        <div class="col-lg-6 col-xs-6 padd10 margin10 pull-right">
                                                            <div class="no-padding text-left text_skyblue font22"
                                                                 style="display:block;"><span>₹</span>1 28 600<font
                                                                    size="2">.00</font>
                                                                <span class="price">Starting Price</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="clearfix"></div>
<div id="homePageIndiaPackages">
    <div>
        <div class="row">

            <div class="col-xs-12">
                <div>
                    <section class="slider_area honeymoon_india_packages">
                        <div class="PhotoGallery">
                            <div class="container">
                                <div class="gallery_blog">
                                    <h2 class="text-center">India & Around Holiday Packages</h2>
                                </div>
                                <div class="col-sm-12 col-xs-12 int_holi more_landipage bottom_static_pages">
                                    Travelling abroad for a holiday is a great thing but there isn’t anything that beats
                                    the diversity of landscapes and cultures in India. We inspire local travellers to
                                    travel more in India, as our <a href="#">India holiday packages</a> acquaint
                                    travellers with the incredible beauty of the country. Take a look at top selling
                                    holiday packages in India.
                                </div>
                                <div>
                                    <ul class="looppkg owl-carousel owl-theme">
                                        <li class="item">
                                            <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12">
                                                <div class="border_gray landing_page_honymoon_slider">
                                                    <a class="jcarousel_all_data_thomas" href="#">
                                                    </a>
                                                    <div class="col-lg-12 no-padding"><a
                                                            href="/booking"><img alt=""
                                                                                                      data-src="https://www.indiantempletour.com/wp-content/uploads/2017/12/chardham.jpeg"
                                                                                                      height="400"
                                                                                                      width="800"></a>
                                                    </div>
                                                    <h3 class="carausal_name_left">
                                                        <div class="col-lg-6 col-xs-6 padd10 no-padding">
                                                            <div class="carausal_header_country">Char Dham</div>
                                                            <small class="sm-text small">By Helicopter 2023</small>
                                                        </div>
                                                    </h3>
                                                    <div class="col-lg-6 col-xs-6 padd10 margin10 pull-right">
                                                        <div class="no-padding text-left text_skyblue font22"
                                                             style="display:block;"><span>₹</span>1 99 990<font
                                                                size="2">.00</font>
                                                            <span class="price">Starting Price</span>
                                                        </div>
                                                    </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="item">
                                            <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12">
                                                <div class="border_gray landing_page_honymoon_slider">
                                                    <a class="jcarousel_all_data_thomas" href="#">
                                                    </a>
                                                    <div class="col-lg-12 no-padding"><a
                                                            href="/booking"><img alt=""
                                                                                                      data-src="https://resources.sotc.in/images/holidays/PKG009552/pokhara1.jpg"
                                                                                                      height="400"
                                                                                                      width="800"></a>
                                                    </div>
                                                    <h3 class="carausal_name_left">
                                                        <div class="col-lg-6 col-xs-6 padd10 no-padding">
                                                            <div class="carausal_header_country">Nepal</div>
                                                            <small class="sm-text small">Packages</small>
                                                        </div>
                                                    </h3>
                                                    <div class="col-lg-6 col-xs-6 padd10 margin10 pull-right">
                                                        <div class="no-padding text-left text_skyblue font22"
                                                             style="display:block;"><span>₹</span>11 099<font size="2">.00</font>
                                                            <span class="price">Starting Price</span>
                                                        </div>
                                                    </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="item">
                                            <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12">
                                                <div class="border_gray landing_page_honymoon_slider">
                                                    <a class="jcarousel_all_data_thomas" href="#">
                                                    </a>
                                                    <div class="col-lg-12 no-padding"><a
                                                            href="/booking"><img alt=""
                                                                                                      data-src="https://curlytales.com/wp-content/uploads/2020/10/Untitled-2020-10-14T142028.533-1024x538.jpg"
                                                                                                      height="400"
                                                                                                      width="800"></a>
                                                    </div>
                                                    <h3 class="carausal_name_left">
                                                        <div class="col-lg-6 col-xs-6 padd10 no-padding">
                                                            <div class="carausal_header_country"> Gujarat</div>
                                                            <small class="sm-text small"> Packages</small>
                                                        </div>
                                                    </h3>
                                                    <div class="col-lg-6 col-xs-6 padd10 margin10 pull-right">
                                                        <div class="no-padding text-left text_skyblue font22"
                                                             style="display:block;"><span>₹</span>10 699<font size="2">.00</font>
                                                            <span class="price">Starting Price</span>
                                                        </div>
                                                    </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="item">
                                            <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12">
                                                <div class="border_gray landing_page_honymoon_slider">
                                                    <a class="jcarousel_all_data_thomas" href="#">
                                                    </a>
                                                    <div class="col-lg-12 no-padding"><a
                                                            href="/booking"><img alt=""
                                                                                                      data-src="https://www.tourmyindia.com/blog//wp-content/uploads/2018/11/Family-Attractions-in-Bhutan.jpg"
                                                                                                      height="400"
                                                                                                      width="800"></a>
                                                    </div>
                                                    <h3 class="carausal_name_left">
                                                        <div class="col-lg-6 col-xs-6 padd10 no-padding">
                                                            <div class="carausal_header_country">Bhutan</div>
                                                            <small class="sm-text small">Packages</small>
                                                        </div>
                                                    </h3>
                                                    <div class="col-lg-6 col-xs-6 padd10 margin10 pull-right">
                                                        <div class="no-padding text-left text_skyblue font22"
                                                             style="display:block;"><span>₹</span>31 899<font size="2">.00</font>
                                                            <span class="price">Starting Price</span>
                                                        </div>
                                                    </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="item">
                                            <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12">
                                                <div class="border_gray landing_page_honymoon_slider">
                                                    <a class="jcarousel_all_data_thomas" href="#">
                                                    </a>
                                                    <div class="col-lg-12 no-padding"><a
                                                            href="/booking"><img alt=""
                                                                                                      data-src="https://tourismofhimachal.org/wp-content/uploads/2019/03/Rohtang-pass-main.png"
                                                                                                      height="400"
                                                                                                      width="800"></a>
                                                    </div>
                                                    <h3 class="carausal_name_left">
                                                        <div class="col-lg-6 col-xs-6 padd10 no-padding">
                                                            <div class="carausal_header_country"> Himachal</div>
                                                            <small class="sm-text small">Packages</small>
                                                        </div>
                                                    </h3>
                                                    <div class="col-lg-6 col-xs-6 padd10 margin10 pull-right">
                                                        <div class="no-padding text-left text_skyblue font22"
                                                             style="display:block;"><span>₹</span>12 900<font size="2">.00</font>
                                                            <span class="price">Starting Price</span>
                                                        </div>
                                                    </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="clearfix"></div>
<div id="homePageHoneymoonPackages">
    <div>
        <div class="row">

            <div class="col-xs-12">
                <div>
                    <section class="slider_area Honeymoon_holidays_packges">
                        <div class="PhotoGallery">

                            <div class="container">

                                <div class="gallery_blog">

                                    <h2 class="text-center">Honeymoon Holiday Packages</h2>

                                </div>

                                <div class="col-sm-12 col-xs-12 int_holi more_landipage bottom_static_pages">
                                    Whether you are planning your honeymoon in scenic Kashmir or picturesque
                                    Switzerland, RoyalsKing India’s honeymoon packages are tailor-made for couples who
                                    are looking to escape into natural beauty to let off steam.
                                </div>

                                <div class="">
                                    <ul class="looppkg owl-carousel owl-theme">
                                        <li class="item">
                                            <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12">

                                                <div class="border_gray landing_page_honymoon_slider">
                                                    <a class="jcarousel_all_data_thomas" href="#">
                                                    </a>
                                                    <div class="col-lg-12 no-padding"><a
                                                            href="/booking"><img
                                                            alt="Mauritius Honeymoon Packages"
                                                            data-src="https://cdn1.matadornetwork.com/blogs/1/2021/05/maldives-resorts-2-1200x900.jpg"
                                                            height="400" width="800"></a></div>
                                                    <h3 class="carausal_name_left">

                                                        <div class="col-lg-6 col-xs-6 padd10 no-padding">
                                                            <div class="carausal_header_country"> Maldives</div>
                                                            <small class="sm-text small">Honeymoon Packages</small>
                                                        </div>
                                                    </h3>
                                                    <div class="col-lg-6 col-xs-6 padd10 margin10 pull-right">
                                                        <div class="no-padding text-left text_skyblue font22"
                                                             style="display:block;"><span>₹</span>43 600<font size="2">.00</font>
                                                            <span class="price">Starting Price</span></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="item">
                                            <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12">

                                                <div class="border_gray landing_page_honymoon_slider">
                                                    <a class="jcarousel_all_data_thomas" href="#">
                                                    </a>
                                                    <div class="col-lg-12 no-padding"><a
                                                            href="/booking"><img
                                                            alt="Andaman Honeymoon Packages"
                                                            data-src="https://andamantourtravel.com/assets/img/banner-or3.jpg"
                                                            height="400" width="800"></a></div>
                                                    <h3 class="carausal_name_left">
                                                        <div class="col-lg-6 col-xs-6 padd10 no-padding">
                                                            <div class="carausal_header_country">Andaman</div>
                                                            <small class="sm-text small">Honeymoon Packages</small>
                                                        </div>
                                                    </h3>
                                                    <div class="col-lg-6 col-xs-6 padd10 margin10 pull-right">
                                                        <div class="no-padding text-left text_skyblue font22"
                                                             style="display:block;"><span>₹</span>56 990<font size="2">.00</font>
                                                            <span class="price">Starting Price</span></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="item">
                                            <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12">

                                                <div class="border_gray landing_page_honymoon_slider">
                                                    <a class="jcarousel_all_data_thomas" href="#">
                                                    </a>
                                                    <div class="col-lg-12 no-padding"><a
                                                            href="/booking"><img
                                                            alt="Nepal Honeymoon Packages"
                                                            data-src="https://dynamic.tourtravelworld.com/package-images/photo-big/dir_12/353337/92018.jpg"
                                                            height="400" width="800"></a></div>
                                                    <h3 class="carausal_name_left">
                                                        <div class="col-lg-6 col-xs-6 padd10 no-padding">
                                                            <div class="carausal_header_country"> Sri lanka</div>
                                                            <small class="sm-text small">Honeymoon Packages</small>
                                                        </div>
                                                    </h3>
                                                    <div class="col-lg-6 col-xs-6 padd10 margin10 pull-right">
                                                        <div class="no-padding text-left text_skyblue font22"
                                                             style="display:block;"><span>₹</span>62 692<font size="2">.00</font>
                                                            <span class="price">Starting Price</span></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="item">
                                            <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12">

                                                <div class="border_gray landing_page_honymoon_slider">
                                                    <a class="jcarousel_all_data_thomas" href="#">
                                                    </a>
                                                    <div class="col-lg-12 no-padding"><a
                                                            href="/booking"><img
                                                            alt="Turkiye Honeymoon Packages"
                                                            data-src="https://www.jaisuntourism.com/images/turkey-tour-packages-from-coimbatore.jpg"
                                                            height="400" width="800"></a></div>
                                                    <h3 class="carausal_name_left">
                                                        <div class="col-lg-6 col-xs-6 padd10 no-padding">
                                                            <div class="carausal_header_country"> Turkiye</div>
                                                            <small class="sm-text small">Honeymoon Packages</small>
                                                        </div>
                                                    </h3>
                                                    <div class="col-lg-6 col-xs-6 padd10 margin10 pull-right">
                                                        <div class="no-padding text-left text_skyblue font22"
                                                             style="display:block;"><span>₹</span>36 300<font size="2">.00</font>
                                                            <span class="price">Starting Price</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="item">
                                            <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12">

                                                <div class="border_gray landing_page_honymoon_slider">
                                                    <a class="jcarousel_all_data_thomas" href="#">
                                                    </a>
                                                    <div class="col-lg-12 no-padding"><a
                                                            href="/booking"><img
                                                            alt="Kashmir Honeymoon Packages"
                                                            data-src="https://imgcld.yatra.com/ytimages/image/upload/t_seo_Holidays_w_1400_h_410_c_fill_g_auto_q_auto:good_f_jpg/v1433747706/Gulmarg_2.jpg"
                                                            height="400" width="800"></a></div>
                                                    <h3 class="carausal_name_left">
                                                        <div class="col-lg-6 col-xs-6 padd10 no-padding">
                                                            <div class="carausal_header_country">Kashmir</div>
                                                            <small class="sm-text small">Honeymoon Packages</small>
                                                        </div>
                                                    </h3>
                                                    <div class="col-lg-6 col-xs-6 padd10 margin10 pull-right">
                                                        <div class="no-padding text-left text_skyblue font22"
                                                             style="display:block;"><span>₹</span>63 900<font size="2">.00</font>
                                                            <span class="price">Starting Price</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="clearfix"></div>
<div class="clearfix"></div>
<div id="visaCarousel">
    <div>
        <div class="row">
            <div class="col-xs-12">
                <div>
                    <section class="slider_area Honeymoon_holidays_packges">
                        <div class="PhotoGallery">
                            <div class="container">
                                <div class="gallery_blog">

                                    <h2 class="text-center">Flight Details</h2>

                                    <div class="container">
                                        <div class="row">
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th scope="col">Flight_Name</th>
                                                    <th scope="col">Destination</th>
                                                    <th scope="col">Terminal</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for Flight in allFlights %}
                                                <tr>
                                                    <td>{{Flight.flight_name}}</td>
                                                    <td>{{Flight.destination}}</td>
                                                    <td>{{Flight.terminal}}</td>
                                                </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>

                                        </div>
                                    </div>

                                    <!-- Onbehalf PopUp Alert end-->


                                    <!--  Privacy Policy Popup Start   -->


                                    <div class="modal fade" id="campaign_thank_you" role="dialog">
                                        <div class="modal-dialog">
                                            <!-- Modal content-->
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button class="close" data-dismiss="modal" type="button">&times;
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <p><strong> Thank you for showing interest.</strong> </br> You shall
                                                        get
                                                        a call from our RoyalsKing expert shortly. </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal fade" id="campaign_error" role="dialog">
                                        <div class="modal-dialog">
                                            <!-- Modal content-->
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button class="close" data-dismiss="modal" type="button">&times;
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <p> Some error occurred Please try Again </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <script>
$(window).scroll(function () {
if ($(this).scrollTop()) {
$(".toTop").fadeIn();
} else {
$(".toTop").fadeOut();
}
});
$("#toTop").click(function () {
$("html, body").animate({scrollTop: 0}, 1000);
});
$(window).scroll(function () {
$(".onscroll").each(function (index) {
var actualClass = $(this).attr('data-class');
$(this).addClass(actualClass);
$(this).removeClass('onscroll');
});
});






                                    </script>
                                    <script>
$(document).ready(function () {
$('#mobile_nav').click(function () {
$('#showCookeiPolicy').addClass('hide');
$("button.navbar-toggle.thomas_menu").toggleClass("thomas_menu_open_tc");
$("#top").toggleClass("show_header_open_menu_tc");
$(".top-header").toggleClass("show_header_open_menu_tc");
$(".top-header").toggleClass("show_header_open_menu_tc_login");
});
});






                                    </script>
                                    <script>
if ('serviceWorker' in navigator) {
navigator.serviceWorker
.register('/sw.js')
.then(function (registration) {
console.log('ServiceWorker registration successful with scope: ', registration.scope);
});
}
window.onappinstalled = function (ev) {
console.log('The application was installed.', ev);
ga('send', 'event', 'A2H', ev.type);
};






                                    </script>
                                    <script>
window.addEventListener('load', function () {
setTimeout(function () {
var allimages = document.getElementsByTagName('img');
for (var i = 0; i < allimages.length; i++) {
if (allimages[i].getAttribute('data-src')) {
allimages[i].setAttribute('src', allimages[i].getAttribute('data-src'));
}
}
},
100);
}, false);





                                    </script>

                                    <!--  Privacy Policy Popup End  -->
                                </div>
                            </div>
                        </div>

                        <div class="amp-wp-default-form-message_button hide">
                            <button class="button_onlosded hide" id="sub" type="button"></button>
                        </div>

                        <script src="/js/holiday/homepage-lib.js?version=1.5" type="text/javascript"></script>
                        <script src="/js/common.js?version=1.0" type="text/javascript"></script>

                        <script src="/js/holiday/landing-holiday-home.js?version=1.7" type="text/javascript"></script>
                        <script src="/js/holiday/homepage-static.js?version=1.4" type="text/javascript"></script>
                        <script type="text/javascript">
                $(window).load(function(){
        $('#thomascook_news').modal('show');
    });





                        </script>
                        <script>
	$(".second_sec_big_box").owlCarousel({
        items: 1,
		lazyLoad: true,
		lazyLoadEager: 1,
		loop: true,
		autoplay:true,
		nav:true,
		autoplayTimeout:5000,
		autoplayHoverPause:true,
		autoHeight: false
    })





                        </script>
                </div>
</html>
<div class="toTop" id="toTop" style="display: none;">
    <a class="back-top-btn" href="javascript:void(0)"><i class="angle-arrow up-arrow "></i></a>
</div>
<!-- FOOTER -->
<footer class="container">
    <button class="float-right btn btn-outline-success"><a href="#" id="myBtn">&#8679; CLICK TO TOP</a></button>
    <a href="/privacy-policy">Privacy</a> &middot; <a href="/terms">Terms</a>
    <div class="livechat_button" data-id="TTMY1VTSF9p"
         style="position: fixed;bottom: 5px;z-index: 99999; display: none;"><a href="#">Live Chat!</a></div>
    <div class="col-lg-12 col-md-12 col-sm-12 footer_row_2">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 footer_copyright text-center">
            <h6>Copyright © 2021 RKT Travel Limited (Formerly known as RoyalsKing Tour & Travels Private Ltd) Corporate
                Identification no: U956250MH6001PLC131691</h6>

        </div>
    </div>
</footer>


<!--  Onbehalf PopUp Alert start   -->

<div class="commonAlrt_btn modal fade" id="onBehalfPopUpAlert" role="dialog">
    <div class="modal-dialog modal-md Alertpopup">
        <!-- Modal content-->
        <div class="col-sm-12 col-xs-12 padding-remove modal-content">
            <div class="col-sm-12 col-xs-12">
                <p class="modal-title">On Behalf Booking not available for Hotels.</p>
            </div>
            <div class="col-xs-12 modal-body">
                <form>
                    <div class="col-xs-12 padding-remove m_btnbg form-group alrt_submit">
                        <div class="text-center pop_label">
                            <button class="alrt_btn" id="onbehalfBtn" type="button">Ok</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock body %}