{% extends 'base.html' %}
{% load static %}

{% block title %}Privacy Policy{% endblock title %}

{% block body %}

<section class="privacybanner-section">
</section>
<section class="section section1">
    <div class="container">
        <img alt="..." class="d-block w-100" src="{% static 'images/img_7.png' %}">
    </div>
    <div class="container">
        <h1 class="text-center"><br>Privacy Policy</h1>
        <h6 class="text-center">(The RoyalsKing Tour And Travels Service)</h6>
        <p>
            RoyalsKing Tour Flight Planners Limited (hereinafter “<b>RoyalsKing Tour & Travels Private Ltd</b>”) understands its valuable
            customer's concerns for privacy and undertakes several measures of protecting and maintaining their-personal
            information that is being shared with us.
        </p>
        <p>
            The applicability of this Privacy Policy extends to the User who inquires, or means to purchase or purchase
            the product(s) or service(s) offered by RoyalsKing Tour & Travels Private Ltd through any of it's online channels
            including its website, mobile site, mobile app & offline channels including call centers and offices
            (collectively referred herein as "Sales Channels"). For the purpose of this Privacy Policy, Website means
            the website(s), mobile site(s) and mobile app(s). By using or accessing the Website or other Sales Channels,
            the User hereby agrees with the terms of this Privacy Policy and the contents herein. If you disagree with
            this Privacy Policy please do not use or access our Website or other Sales Channels.
        </p>
        <p>
            This Privacy Policy does not apply to any website(s), mobile sites and mobile apps of third parties, even if
            their websites/products are linked to our Website. User should take note that information and privacy
            practices of RoyalsKing Tour & Travels Private Ltd business partners, advertisers, sponsors or other sites to which
            RoyalsKing Tour & Travels Private Ltd provides hyperlink(s), may be significantly different from this Privacy Policy.
            Accordingly, it is recommended that the User reviews the privacy statements and policies of any such third
            parties with whom they interact.
        </p>
    </div>
</section>

{% endblock body %}