{% extends 'base.html' %}

{% block title %}Services{% endblock title %}
{% block servicesactive %} active {% endblock servicesactive %}

{% block body %}


<!--<!DOCTYPE html>-->
<html lang="en">

<body class="holidays sotc_home_page">

<div class="clearfix"></div>
<div class="sotc_slider_area sotc_home_sldier">
    <div class="owl-carousel owl-theme sotc_first_slider">
        <div class="item active">
            <a href="/booking" target="_blank">
                <picture>
                    <source class="d-block w-100"
                            data-srcset="https://content.jdmagicbox.com/comp/service_catalogue/madives-package-080pxx80.xx80.130711164644.f4y5-dsx79e9.jpg"
                            media="(min-width:768px)"
                            srcset="https://content.jdmagicbox.com/comp/service_catalogue/madives-package-080pxx80.xx80.130711164644.f4y5-dsx79e9.jpg"
                            type="image/webp">

                    <source class="d-block w-100"
                            data-srcset="https://content.jdmagicbox.com/comp/service_catalogue/madives-package-080pxx80.xx80.130711164644.f4y5-dsx79e9.jpg"
                            media="(max-width:767px)"
                            srcset="https://content.jdmagicbox.com/comp/service_catalogue/madives-package-080pxx80.xx80.130711164644.f4y5-dsx79e9.jpg"
                            type="image/webp">

                    <source class="d-block w-100"
                            data-srcset="https://content.jdmagicbox.com/comp/service_catalogue/madives-package-080pxx80.xx80.130711164644.f4y5-dsx79e9.jpg"
                            media="(min-width:768px)"
                            srcset="https://content.jdmagicbox.com/comp/service_catalogue/madives-package-080pxx80.xx80.130711164644.f4y5-dsx79e9.jpg"
                            type="image/webp">

                    <source class="d-block w-100"
                            data-srcset="https://content.jdmagicbox.com/comp/service_catalogue/madives-package-080pxx80.xx80.130711164644.f4y5-dsx79e9.jpg"
                            media="(max-width:767px)"
                            srcset="https://content.jdmagicbox.com/comp/service_catalogue/madives-package-080pxx80.xx80.130711164644.f4y5-dsx79e9.jpg"
                            type="image/webp">

                    <img alt="Europe - Maldives Special"
                         class="d-block w-100"
                         height="380"
                         data-src="https://content.jdmagicbox.com/comp/service_catalogue/madives-package-080pxx80.xx80.130711164644.f4y5-dsx79e9.jpg"
                         src="https://content.jdmagicbox.com/comp/service_catalogue/madives-package-080pxx80.xx80.130711164644.f4y5-dsx79e9.jpg"
                         style="opacity: 1;">
                </picture>
            </a></div>
        <a href="/booking" target="_blank">
            <picture>
                <source class="d-block w-100"
                        data-srcset="https://www.sotc.in/images/home-page-banners/2022/october/europe-sotc2-1920x545.jpg"
                        media="(min-width:768px)"
                        srcset="https://www.sotc.in/images/home-page-banners/2022/october/europe-sotc2-1920x545.jpg"
                        type="image/jpeg">


                <source class="d-block w-100"
                        data-srcset="https://www.sotc.in/images/home-page-banners/2022/october/europe-sotc2-1920x545.webp"
                        media="(min-width:768px)"
                        srcset="https://www.sotc.in/images/home-page-banners/2022/october/europe-sotc2-1920x545.webp"
                        type="image/webp">

                <source class="d-block w-100"
                        data-srcset="https://www.sotc.in/images/home-page-banners/2022/october/europe-sotc1-400x400.webp"
                        media="(max-width:767px)"
                        srcset="https://www.sotc.in/images/home-page-banners/2022/october/europe-sotc1-400x400.webp"
                        type="image/webp">


                <source class="d-block w-100"
                        data-srcset="https://www.sotc.in/images/home-page-banners/2022/october/europe-sotc1-400x400.jpg"
                        media="(max-width:767px)"
                        srcset="https://www.sotc.in/images/home-page-banners/2022/october/europe-sotc1-400x400.jpg"
                        type="image/webp">

                <img alt="Europe"
                     class="d-block w-100"
                     data-src="https://www.sotc.in/images/home-page-banners/2022/october/europe-sotc2-1920x545.jpg"
                     src="/images/home-page-banners/2022/october/europe-sotc2-1700x545.jpg"
                     style="opacity: 1;">
            </picture>
        </a></div>
    <div class="item">
        <a href="/booking" target="_blank">
            <picture>
                <source class="d-block w-100"
                        data-srcset="https://www.sotc.in/images/home-page-banners/2022/dec/Australia-Banner-1-1920x545.webp"
                        media="(min-width:768px)"
                        srcset="https://www.sotc.in/images/home-page-banners/2022/dec/Australia-Banner-1-1920x545.webp"
                        type="image/webp">

                <source class="d-block w-100"
                        data-srcset="https://www.sotc.in/images/home-page-banners/2022/dec/Australia-Banner-1-400x400.webp"
                        media="(max-width:767px)"
                        srcset="https://www.sotc.in/images/home-page-banners/2022/dec/Australia-Banner-1-400x400.webp"
                        type="image/webp">

                <source class="d-block w-100"
                        data-srcset="https://www.sotc.in/images/home-page-banners/2022/dec/Australia-Banner-1-1920x545.jpg"
                        media="(min-width:768px)"
                        srcset="https://www.sotc.in/images/home-page-banners/2022/dec/Australia-Banner-1-1920x545.jpg"
                        type="image/jpeg">

                <source class="d-block w-100"
                        data-srcset="https://www.sotc.in/images/home-page-banners/2022/dec/Australia-Banner-1-400x400.jpg"
                        media="(max-width:767px)"
                        srcset="https://www.sotc.in/images/home-page-banners/2022/dec/Australia-Banner-1-400x400.jpg"
                        type="image/webp">

                <img alt="Oriental Escapes" class="d-block w-100"
                     data-src="https://www.sotc.in/images/home-page-banners/2022/dec/Australia-Banner-1-1920x545.jpg"
                     src="/images/home-page-banners/2022/dec/Australia-Banner-1-1920x545.jpg"
                     style="opacity: 1;">
            </picture>
        </a></div>
    <div class="item">
        <a href="/booking" target="_blank">
            <picture>
                <source class="d-block w-100"
                        data-srcset="https://www.sotc.in/images/home-page-banners/2022/dec/Seven-Sister-Banner-1920x545.webp"
                        media="(min-width:768px)"
                        srcset="https://www.sotc.in/images/home-page-banners/2022/dec/Seven-Sister-Banner-1920x545.webp"
                        type="image/webp">

                <source class="d-block w-100"
                        data-srcset="https://www.sotc.in/images/home-page-banners/2022/dec/Seven-Sister-Banner-400x400.webp"
                        media="(max-width:767px)"
                        srcset="https://www.sotc.in/images/home-page-banners/2022/dec/Seven-Sister-Banner-400x400.webp"
                        type="image/webp">


                <source class="d-block w-100"
                        data-srcset="https://www.sotc.in/images/home-page-banners/2022/dec/Seven-Sister-Banner-1920x545.jpg"
                        media="(min-width:768px)"
                        srcset="https://www.sotc.in/images/home-page-banners/2022/dec/Seven-Sister-Banner-1920x545.jpg"
                        type="image/jpeg">

                <source class="d-block w-100"
                        data-srcset="https://www.sotc.in/images/home-page-banners/2022/dec/Seven-Sister-Banner-400x400.jpg"
                        media="(max-width:767px)"
                        srcset="https://www.sotc.in/images/home-page-banners/2022/dec/Seven-Sister-Banner-400x400.jpg"
                        type="image/webp">

                <img alt="Unexplored North East Holidays"
                     class="d-block w-100"
                     data-src="https://www.sotc.in/images/home-page-banners/2022/dec/Seven-Sister-Banner-1920x545.jpg"
                     src="/images/home-page-banners/2022/dec/Seven-Sister-Banner-1920x545.jpg"
                     style="opacity: 1;">
            </picture>
        </a></div>
    <div class="item">
        <a href="/contact" target="_blank">
            <picture>
                <source class="d-block w-100"
                        data-srcset="https://www.sotc.in/images/home-page-banners/2022/september/Video-Chat-1920x545.webp"
                        media="(min-width:768px)"
                        srcset="https://www.sotc.in/images/home-page-banners/2022/september/Video-Chat-1920x545.webp"
                        type="image/webp">

                <source class="d-block w-100"
                        data-srcset="https://www.sotc.in/images/home-page-banners/2022/september/Video-Chat-400x400.webp"
                        media="(max-width:767px)"
                        srcset="https://www.sotc.in/images/home-page-banners/2022/september/Video-Chat-400x400.webp"
                        type="image/webp">

                <source class="d-block w-100"
                        data-srcset="https://www.sotc.in/images/home-page-banners/2022/september/Video-Chat-1920x545.jpg"
                        media="(min-width:768px)"
                        srcset="https://www.sotc.in/images/home-page-banners/2022/september/Video-Chat-1920x545.jpg"
                        type="image/jpeg">

                <source class="d-block w-100"
                        data-srcset="https://www.sotc.in/images/home-page-banners/2022/september/Video-Chat-400x400.jpg"
                        media="(max-width:767px)"
                        srcset="https://www.sotc.in/images/home-page-banners/2022/september/Video-Chat-400x400.jpg"
                        type="image/webp">

                <img alt=""
                     class="d-block w-100"
                     data-src="https://www.sotc.in/images/home-page-banners/2022/september/Video-Chat-1920x545.jpg"
                     src="/images/home-page-banners/2022/september/Video-Chat-1920x545.jpg"
                     style="opacity: 1;">
            </picture>
        </a></div>
</div>
</div>
<!-- Searching packages end here -->


<!-- ***************************************************************************- -->
<!-- Home page Second Section Start here -->
<section class="sotc_section sotc_second_section" id="homepage-domestic-slider1">
    <div id="homepage-domestic-slider2">
        <div>
            <div class="container scroll_section_data_sotc">
                <h1 class="sotc_h2_data"
                    style="font-size: 24px !important; margin-top: 0px !important; margin-bottom: 5px !important;">
                    Trending Indian Destinations</h1>
                <div class="text_content_sotc more_landipage">
                    India’s diverse topography, history and culture offers enough experiences to fulfil any type of
                    wanderlust. So do our <a href="/booking" target="_blank">India tour
                    packages</a> which cover the length and breadth of the land.
                    <p>
                        The Himalayas are one of the few sights capable of literally taking your breath away. And you
                        can view them up close in our own country. Ranging across the states of Jammu & Kashmir, <a
                            href="/booking" target="_blank">Himachal Pradesh</a>, Uttarakhand,
                        Sikkim, Arunachal Pradesh and West Bengal, crossing these mountainous terrains will give you an
                        otherworldly sense of joy. We are fortunate to have so many mountain ranges across India in <a
                            href="/booking" target="_blank">Ladakh</a>, Himachal, <a
                            href="/booking" target="_blank">Uttarakhand</a>, and even Kerala! It
                        gives mountain lover so many opportunities for their tour and travel plans. And as you move
                        down, you will find the contrasting deserts of Rajasthan - a state with a culturally rich
                        heritage and magnificent structures like the Amber Palace, Hawa Mahal, and City Palace. The
                        elegant architecture is a showcase of our tremendous history. Along with this is the Ranthambore
                        National Park - one of the rare locations of this world which will amaze you with its wildlife
                        in its natural habitat. The other great thing about the country’s location is its proximity to
                        the sea. With ten states along its coastline, you can take your pick from any of them. There is
                        the Arabian Sea whose waves crash against the states of Maharashtra, <a
                            href="/booking" target="_blank">Kerala</a> and Goa. The entire Konkan
                        belt is known for its beautiful beaches, and a stunning coastline with a gorgeous combination of
                        hills and beaches making it one of the best tour and travel belts in the country. Odisha, Tamil
                        Nadu and Andhra Pradesh are greeted by the waters of the Bay of Bengal. The choppy waters in the
                        Bay of Bengal not to forget the spellbinding <a href="/booking"
                                                                        target="_blank">Andaman and Nicobar Islands</a>
                        which boasts of Asia’s best beach - Radhanagar Beach.</p>
                    <p>
                        Go through more of our holiday packages in India to find your next best tour and travel across
                        the country with the leading tour and travel agency.</p>

                </div>
                <div class="sotc_common_slider common_slider_ind_inter trendingindia_slider_sotc">
                    <div class="owl-carousel owl-theme sotc_trending_slider">
                        <div class="item active">
                            <a href="/booking" target="_blank">
                                <picture>
                                    <img alt="..."
                                         class="d-block w-100"
                                         src="https://www.indiaeasytrip.com/india-tour-packages/images/packages/09072021153106-himachal-holiday-tour-ex-jaipur.jpg">
                                </picture>
                                <span class="caption caption-side-text">
                        <span class="caption-side-text-header">Himachal</span>
                        <span class="caption-side-text-detils domestic_slider" id="HIMACHAL">
                        <p class="trending_price_starting">Starting from </p><p
                                class="trending_price_slide"><span>₹</span>12 900/- </p>
                        </span>
                    </span>
                            </a>
                        </div>
                        <div class="item">
                            <a href="/booking" target="_blank">
                                <picture>
                                    <img alt="..."
                                         class="d-block w-100"
                                         height="400"
                                         src="https://www.clubmahindra.com/blog/media/section_images/visit-in-u-b6fa5a61e8c38c7.jpg">
                                </picture>
                                <span class="caption caption-side-text">
                        <span class="caption-side-text-header">Uttarakhand</span>
                        <span class="caption-side-text-details domestic_slider" id="UTTARAKHAND">
                            <p class="trending_price_starting">Starting from </p>
                            <p class="trending_price_slide"><span>₹</span>13 220/- </p>
                        </span>
                    </span>
                            </a>
                        </div>
                        <div class="item">
                            <a href="/booking" target="_blank">
                                <picture>
                                    <img alt="..."
                                         class="d-block w-100"
                                         height="400"
                                         src="https://cdn1.tripoto.com/media/filter/tst/img/344054/Image/1662793150_nitin_karolla_3wvlgmgmhd0_unsplash.jpg">

                                </picture>
                                <span class="caption caption-side-text">
                        <span class="caption-side-text-header">Kashmir</span>
                        <span class="caption-side-text-details domestic_slider" id="KASHMIR">
                        <p class="trending_price_starting">Starting from </p>
                        <p class="trending_price_slide"><span>₹</span>20 585/- </p>
                        </span>
                    </span>
                            </a>
                        </div>

                        <div class="item">
                            <a href="/booking" target="_blank">
                                <picture>
                                    <img alt="..."
                                         class="d-block w-100"
                                         height="400"
                                         src="https://www.tourmyindia.com/blog//wp-content/uploads/2020/11/Hawa-Mahal-Rajasthan-Feature.jpg">
                                </picture>
                                <span class="caption caption-side-text">
                        <span class="caption-side-text-header">Rajasthan</span>
                        <span class="caption-side-text-details domestic_slider" id="RAJASTHAN">
                        <p class="trending_price_starting">Starting from </p>
                        <p class="trending_price_slide"><span>₹</span>18 799/- </p>
                        </span>
                    </span>
                            </a>
                        </div>
                        <div class="item">
                            <a href="/booking" target="_blank">
                                <picture>
                                    <img alt="..." class="d-block w-100"
                                         height="400" src="https://andamantourtravel.com/assets/img/banner-or3.jpg">
                                </picture>
                                <span class="caption caption-side-text">
                        <span class="caption-side-text-header">Andaman</span>
                        <span class="caption-side-text-details domestic_slider" id="ANDAMAN">
                        <p class="trending_price_starting">Starting from </p>
							<p class="trending_price_slide"><span>₹</span>16 900/- </p>
                        </span>
                    </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Home page Second Section End here -->
<!-- ***************************************************************************- -->
<!-- Home page first Section Start here -->
<div class="scroll_section_sotc">
    <div class="scroll-indicator" data-scroll-indicator-title="Trending Destinations" id="section02"></div>
</div>
<section class="sotc_section sotc_first_section" id="homepage-international-slider1">
    <div id="homepage-international-slider2">
        <div>
            <div class="container scroll_section_data_sotc">
                <h2 class="sotc_h2_data">Trending International Destinations</h2>
                <div class="text_content_sotc more_landipage">
                    The world is now just a hop, skip and jump away and here’s how you can make your travel easier and
                    better. Our various vacation packages, trip packages and <a href="#" target="_blank">holiday
                    packages</a> offer a kaleidoscopic range of international destinations that meet every interest,
                    schedule and requirement. The best part is, you won’t have to worry about all the planning details;
                    just pack your bag, get set and go.
                    <p>
                        Pick your destination and we will fulfill all your wishes. Whether you want to visit the United
                        States or the United Kingdom, South Africa or the Southeast, we will take you everywhere. If you
                        need a beach getaway, you can explore out our romantic beach holidays in Maldives, Mauritius,
                        Thailand, <a href="#" target="_blank">Singapore</a> or even Dubai! Explore the deserts of Egypt
                        where you can see the marvellous pyramids and the mysterious Sphinx at Giza or the city of
                        Alexandria with its remnants of a long and forgotten time. Or the fabulous land of Europe. Our
                        <a href="#" target="_blank">Europe tour packages</a> cover each corner of the continent. You
                        name it and SOTC, the leading tour and travel agency will deliver it. You can choose from the
                        countries ranging across the Alps; France, Switzerland, Italy or Germany. Or look at beautiful
                        architecture and explore the myriad beaches in Spain and Portugal. And then you have the gems of
                        the East. The charming cities of Istanbul, Prague, Budapest or Vienna will give you some amazing
                        memories to take away from your holiday and are more pocket friendly too. If you’re looking for
                        something closer to home, visit the enchanting island of <a href="#"
                                                                                    target="_blank">Seychelles</a>. The
                        ancient city of Sigiriya and the beautiful Yala National Park leave everyone mesmerized. And
                        then there are the temples which are nothing short of awe-inspiring. The Temple of Sacred Relic
                        which is considered the most sacred Buddhist shrine or the Dambulla Royal Cave Temple the
                        largest cave temple of Sri Lanka should definitely feature on the must-see list of every
                        traveller. Other places which are close to home and should definitely be incuded in your travel
                        plans are Nepal, Bhutan, Vietnam, Cambodia, Singapore and Malaysia. This is just a small glimpse
                        of our <a href="/international-tour-packages" target="_blank">international tour packages</a>.
                        There is much more awaiting you for your next tour and travel getaway.</p>

                </div>
                <div class="sotc_common_slider common_slider_ind_inter trendinginternation_slider_sotc">
                    <div class="owl-carousel owl-theme sotc_trending_slider">
                        <div class="item active">
                            <a href="/booking" target="_blank">
                                <picture>
                                    <img alt="..."
                                         class="d-block w-100"
                                         height="400"
                                         src="https://content.r9cdn.net/rimg/dimg/f0/b1/54455949-city-18144-167c85df43f.jpg?width=1366&height=768&xhint=1159&yhint=754&crop=true">
                                </picture>
                                <span class="caption caption-side-text">
                        <span class="caption-side-text-header">Vietnam</span>
                        <span class="caption-side-text-details international_slider" id="VIETNAM">
                            <p class="trending_price_starting">Starting from </p><p
                                class="trending_price_slide"><span>₹</span>19 699/- </p>
                        </span>
                    </span>
                            </a>
                        </div>
                        <div class="item">
                            <a href="/booking" target="_blank">
                                <picture>
                                    <img alt="..."
                                         class="d-block w-100"
                                         height="400"
                                         src="https://www.topspotsdubai.com/blog/wp-content/uploads/2022/02/burj-khalifa-in-dubai-downtown-skyscrapers-highris-2022-04-08-19-04-18-tsd.jpg">
                                </picture>
                                <span class="caption caption-side-text">
                        <span class="caption-side-text-header">Dubai</span>
						<span class="caption-side-text-details international_slider" id="DUBAI">
                            <p class="trending_price_starting">Starting from </p><p
                                class="trending_price_slide"><span>₹</span>46 500/- </p>
                        </span>
                    </span>
                            </a>
                        </div>
                        <div class="item">
                            <a href="/booking" target="_blank">
                                <picture>
                                    <img alt="..."
                                         class="d-block w-100"
                                         height="400"
                                         src="https://www.fluentu.com/blog/travel/wp-content/uploads/sites/37/2018/09/most-beautiful-places-in-japan-5.jpg">
                                </picture>
                                <span class="caption caption-side-text">
                        <span class="caption-side-text-header">Japan</span>
                        <span class="caption-side-text-details international_slider" id="JAPAN">
                        	<p class="trending_price_starting">Starting from </p><p
                                class="trending_price_slide"><span>₹</span>1 29 200/- </p>
                        </span>
                    </span>
                            </a>
                        </div>
                        <div class="item">
                            <a href="/booking" target="_blank">
                                <picture>
                                    <img alt="..."
                                         class="d-block w-100"
                                         height="400"
                                         src="https://www.exoticca.com/uk/magazine/wp-content/uploads/2021/05/Avenue-of-Baobabs-BLOG.png">
                                </picture>
                                <span class="caption caption-side-text">
                        <span class="caption-side-text-header">South Africa</span>
                        <span class="caption-side-text-details international_slider" id="SOUTH_AFRICA">
                        <p class="trending_price_starting">Starting from </p><p
                                class="trending_price_slide"><span>₹</span>1 64 000/- </p>
                        </span>
                    </span>
                            </a>
                        </div>
                        <div class="item">
                            <a href="/booking" target="_blank">
                                <picture>
                                    <img alt="..."
                                         class="d-block w-100"
                                         height="400"
                                         src="https://assets-news.housing.com/news/wp-content/uploads/2022/09/14153115/BANGKOK-FEATURE-compressed.jpg">
                                </picture>
                                <span class="caption caption-side-text">
                        <span class="caption-side-text-header">Thailand</span>
                        <span class="caption-side-text-details international_slider" id="THAILAND">
                        	<p class="trending_price_starting">Starting from </p><p
                                class="trending_price_slide"><span>₹</span>23 699/- </p>
                        </span>
                    </span>
                            </a>
                        </div>
                        <div class="item">
                            <a href="/booking" target="_blank">
                                <picture>
                                    <img alt="..."
                                         class="d-block w-100"
                                         src="https://www.trawell.in/blog/wp-content/uploads/2018/08/Bali_Main2.jpg">
                                </picture>
                                <span class="caption caption-side-text">
                        <span class="caption-side-text-header">Bali</span>
                        <span class="caption-side-text-details international_slider" id="BALI">
                            <p class="trending_price_starting">Starting from </p><p
                                class="trending_price_slide"><span>₹</span>11 800/- </p>
                        </span>
                    </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Home page first Section End here -->
<!-- Home page third Section Start here -->
<div class="scroll_section_sotc">
    <div class="scroll-indicator" data-scroll-indicator-title="RoyalsKing Specials" id="section03"></div>
</div>
<section class="sotc_section sotc_third_section" id="homepage-experience-on-the-go1">
    <div id="homepage-experience-on-the-go2">
        <div>
            <section class="sotc_section sotc_second_section" id="homepage-domestic-sotc-slider">
                <div class="container scroll_section_data_sotc">
                    <h2 class="sotc_h2_data no_read_more_sotc">RoyalsKing Specials</h2>
                    <div class="sotc_common_slider common_slider_ind_inter trendingindia_slider_sotc">
                        <div class="owl-carousel owl-theme sotc_trending_slider">
                            <div class="item active">
                                <a href="/booking" target="_blank">
                                    <picture>
                                        <img alt="..."
                                             class="d-block w-100"
                                             height="400"
                                             src="https://static.toiimg.com/thumb/msid-90660127,width-1070,height-580,resizemode-75,imgsize-90660127,pt-32,y_pad-40/90660127.jpg">
                                    </picture>
                                    <span class="caption caption-side-text">
                        <span class="caption-side-text-header" style="font-size: 19px;">Crazy Deal Holiday</span>
                        <span class="caption-side-text-details domestic_slider" id="CRAZY_DEAL_HOLIDAY_no">
                            <p class="trending_price_starting">Starting from </p><p
                                class="trending_price_slide"><span>₹</span>65 799/- </p>
                        </span>
                    </span>
                                </a>
                            </div>
                            <div class="item">
                                <a href="/booking" target="_blank">
                                    <picture>
                                        <img alt="..."
                                             class="d-block w-100"
                                             height="400"
                                             src="https://www.tourmyindia.com/blog//wp-content/uploads/2021/07/Best-White-Winter-Destinations-in-India.jpg">
                                    </picture>
                                    <span class="caption caption-side-text">
                        <span class="caption-side-text-header">India Honeymoon Packages</span>
                        <span class="caption-side-text-details domestic_slider" id="INDIA_HONEYMOON_PACKAGESs_no">
                            <p class="trending_price_starting">Starting from </p><p
                                class="trending_price_slide"><span>₹</span>16 149/- </p>
                        </span>
                    </span>
                                </a>
                            </div>
                            <div class="item">
                                <a href="/booking" target="_blank">
                                    <picture>
                                        <img alt="..."
                                             class="d-block w-100"
                                             height="400"
                                             src="https://blog.tiket.com/wp-content/uploads/4.Old-Quebec-Vieux-Quebec-3.jpg">
                                    </picture>
                                    <span class="caption caption-side-text">
                        <span class="caption-side-text-header">International Honeymoon Packages</span>
                        <span class="caption-side-text-details domestic_slider"
                              id="INTERNATIONAL_HONEYMOON_PACKAGESs_no">
                            <p class="trending_price_starting">Starting from </p><p
                                class="trending_price_slide"><span>₹</span>17 800/- </p>
                        </span>
                    </span>
                                </a>
                            </div>
                            <div class="item">
                                <a href="/booking" target="_blank">
                                    <picture>
                                        <img alt="..."
                                             class="d-block w-100"
                                             height="400"
                                             src="https://www.touryatras.com/wp-content/uploads/2022/08/VancouverBritishColumbia.jpg">
                                    </picture>
                                    <span class="caption caption-side-text">
                        <span class="caption-side-text-header" style="font-size: 19px;">Buy One Get One Free International Holidays</span>
                        <span class="caption-side-text-details domestic_slider"
                              id="BUY_ONE_GET_ONE_FREE_INTERNATIONAL_HOLIDAYSs_no">
					<p class="trending_price_starting">Starting from </p><p class="trending_price_slide"><span>₹</span>29 500/- </p>
</span>
                    </span>
                                </a>
                            </div>
                            <div class="item">
                                <a href="/booking" target="_blank">
                                    <picture>
                                        <img alt="..."
                                             class="d-block w-100"
                                             height="400"
                                             src="https://images.thrillophilia.com/image/upload/s--xVItSF9b--/c_fill,g_center,h_642,q_auto,w_1280/f_auto,fl_strip_profile/v1/images/photos/000/387/365/original/1666013138_shutterstock_1029468478_%281%29.jpg.jpg">
                                    </picture>
                                    <span class="caption caption-side-text">
                        <span class="caption-side-text-header">Spiritual Tour Packages</span>
                        <span class="caption-side-text-details domestic_slider" id="SPIRITUAL_TOURs_no">
					<p class="trending_price_starting">Starting from </p><p class="trending_price_slide"><span>₹</span>9 800/- </p>
</span>
                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Home page third Section End here -->
            <!-- ***************************************************************************- -->

            <!-- Home page furth Section Start here -->

            <section class="sotc_section sotc_four_section">
                <div class="common_slider_sotc_static sotc_slider_area">

                    <div class="container sotc_slider_area_static">
                        <div class="owl-carousel owl-theme sotc_static_slider">
                            <div class="item active">
                                <a href="/booking" target="_blank">
                                    <picture>
                                        <img alt="Malaysia Holidays"
                                             class="owl-lazy"
                                             data-src="https://www.sotc.in/images/home-page-banners/2022/dec/Sentosa-FB-1185x278.jpg"
                                             src="https://www.sotc.in/images/home-page-banners/2022/dec/Sentosa-FB-1185x278.jpg"
                                             style="opacity: 1;">
                                    </picture>
                                </a>
                            </div>
                            <div class="item">
                                <a href="/booking" target="_blank">
                                    <picture>
                                        <img alt="South Korea Holidays"
                                             class="owl-lazy"
                                             data-src="https://www.sotc.in/images/home-page-banners/2023/jan/South-Korea-Banner-1185x278.jpg"
                                             src="https://www.sotc.in/images/home-page-banners/2023/jan/South-Korea-Banner-1185x278.jpg"
                                             style="opacity: 1;">
                                    </picture>
                                </a>
                            </div>
                            <div class="item">
                                <a href="/booking" target="_blank">
                                    <picture>
                                        <img alt="AlUla Holidays"
                                             class="owl-lazy"
                                             data-src="https://www.sotc.in/images/home-page-banners/2023/jan/Alula-Banner-1185x278.jpg"
                                             src="https://www.sotc.in/images/home-page-banners/2023/jan/Alula-Banner-1185x278.jpg"
                                             style="opacity: 1;">
                                    </picture>
                                </a>
                            </div>

                            <div class="item">
                                <a href="/about" target="_blank">
                                    <picture>
                                        <img alt="Travel Business Associate"
                                             class="owl-lazy"
                                             data-src="https://www.sotc.in/images/home-page-banners/2021/august/Travel-Business-Asscoiate-Banner-1185x278.jpg"
                                             src="https://www.sotc.in/images/home-page-banners/2021/august/Travel-Business-Asscoiate-Banner-1185x278.jpg"
                                             style="opacity: 1;">
                                    </picture>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </section>
        </div>
        <div class="clearfix"></div>
        <div id="footer">
            <div id="footercontainer">
                <div>
                    <style>
	.footer_twitter:hover{background:#238cc8;border-color:#238cc8}
	.footer_twitter:hover span,.footer_pinterest:hover span,.footer_youtube:hover span{color:#fff}
	.footer_twitter {
    width: 37px;
    height: 37px;
    display: block;
    text-align: center;
    border: 1px solid;
    border-radius: 50%;
    vertical-align: middle;
    margin: 0 4px;
	 }
	 .footer_twitter span{
	 font-size: 20px;
    line-height: 37px;
		 }



                    </style>
                    <!-- Start of LiveChat (www.livechatinc.com) code -->
                    <script type="text/javascript">

        window.__lc = window.__lc || {};
        window.__lc.license = 7501661;
        (function () {
            var lc = document.createElement('script');
            lc.type = 'text/javascript';
            lc.async = true;
            lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.livechatinc.com/tracking.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(lc, s);
        })();




                    </script>
                    <script>
$(document).ready(function() {
		$("#accordiansotc a").click(function() {
				var link = $(this);
				var closest_ul = link.closest("ul");
				var parallel_active_links = closest_ul.find(".active")
				var closest_li = link.closest("li");
				var link_status = closest_li.hasClass("active");
				var count = 0;

				closest_ul.find("ul").slideUp(function() {
						if (++count == closest_ul.find("ul").length)
								$("a").css('color', '#333');
								parallel_active_links.removeClass("active");
								link.find('a .nav-right-arrow').css( {'transform': 'rotate(180deg)'});
				});

				if (!link_status) {
						closest_li.children("ul").slideDown();
						link.css('color', '#ed363b');
						$('.nav-right-arrow').css( {'transform': 'rotate(-180deg)'});
						link.find('.nav-right-arrow').css( {'transform': 'rotate(-90deg)'});
						closest_li.addClass("active");
				}
		});
		$(window).scroll(function () {
            if ($(this).scrollTop()) {
                $(".toTop").fadeIn().addClass('dataScrolled');
            } else {
                $(".toTop").fadeOut().removeClass('dataScrolled');
            }
        });
        $("#toTop").click(function () {
            $("html, body").animate({scrollTop: 0}, 1000);
            $(".toTop").removeClass('dataScrolled');
        });

})
if($(window).width()<767){
$('body').click(function(){
$('#st_notification_sticky').css('display', 'none')

})
}



                    </script>


                    <style>
.feed-back {
    display: none !important;
}
.back-top-btn {
    display: inline-flex;
    width: 45px;
    height: 45px;
    border-radius: 50em;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    box-shadow: 0 0 30px -2pxrgb(0 0 0 / 15%);
    font-size: 18px;
    color: #000;
    transition: transform 1s cubic-bezier(.23,1,.32,1),box-shadow 1s cubic-bezier(.23,1,.32,1);
    color: #484848;
    border: 1px solid rgb(74 74 74);
}
.angle-arrow{
    background-image: url(/images/icons/arrow_top.png);
}
.angle-arrow, .down-arrow {
    width: 30px;
    height: 23px;
    position: relative;
    transform-origin: center;
    display: block;
    background-repeat: no-repeat;
    background-size: auto;
}
.toTop {
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transform: translateY(25px);
    transition: all .65s cubic-bezier(.68,-.55,.27,1.55);
}
.toTop.dataScrolled {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}



                    </style>
                    <div class="toTop" id="toTop" style="display: none;">
                        <a class="back-top-btn" href="javascript:void(0)"><i class="angle-arrow up-arrow "></i></a>
                    </div>
                    <!-- FOOTER -->
                    <footer class="container">
                        <button class="float-right btn btn-outline-success"><a href="#" id="myBtn">&#8679; CLICK TO TOP</a></button>
                        <a href="/privacy-policy">Privacy</a> &middot; <a href="/terms">Terms</a>
                        <div class="livechat_button" data-id="TTMY1VTSF9p"
                             style="position: fixed;bottom: 5px;z-index: 99999; display: none;"><a
                                href="https://www.livechatinc.com/help-desk-software/?partner=lc_7501661&amp;utm_source=chat_button">Live
                            Chat!</a></div>
                        <div class="col-lg-12 col-md-12 col-sm-12 footer_row_2">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 footer_copyright text-center">
                                <h6>Copyright © 2021 RKT Travel Limited (Formerly known as RoyalsKing Tour & Travels
                                    Private Ltd) Corporate Identification no: U956250MH6001PLC131691</h6>

                            </div>
                        </div>
                    </footer>


                    <!--  Onbehalf PopUp Alert start   -->

                    <div class="commonAlrt_btn modal fade" id="onBehalfPopUpAlert" role="dialog">
                        <div class="modal-dialog modal-md Alertpopup">
                            <!-- Modal content-->
                            <div class="col-sm-12 col-xs-12 padding-remove modal-content">
                                <div class="col-sm-12 col-xs-12">
                                    <p class="modal-title">On Behalf Booking not available for Hotels.</p>
                                </div>
                                <div class="col-xs-12 modal-body">
                                    <form>
                                        <div class="col-xs-12 padding-remove m_btnbg form-group alrt_submit">
                                            <div class="text-center pop_label">
                                                <button class="alrt_btn" id="onbehalfBtn" type="button">Ok</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% endblock %}
